<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_tc_bridge_bar</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">

    <!--<script src="../js/im_summary.js"></script>-->
</head>
<body>
<!--<div class="caption">-->

<!--</div>-->
<div class="apilist">
    <h4>IM相关:_tc_bridge_bar.im_summary</h4>
    <a href="im_summary.html">IM相关-检查客户端im数量</a>

    <h4>标题相关:_tc_bridge_bar.set_bar</h4>
    <a href="set_navbar.html">设置webview标题</a>
    <h4>_tc_bridge_bar.show_navbar_popup</h4>
    <a href="set_navbar.html#popup">右侧按钮的popup</a>

    <h4>分享相关:</h4>
    <p>_tc_bridge_bar.share_weixin_msg</p>
    <p>shareInfoFromH5</p>
    <a href="share.html">分享相关</a>


    <h4></h4>
</div>
<script src="../../js/jquery.js"></script>
<script src="../../js/bridge.2.2.6.js"></script>
</body>
</html>