<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>bridge_bar_test</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">

    <script src="../../js/jquery.js"></script>

    <script src="../../js/bridge.2.2.6.js"></script>
    <script src="../../js/bridgebar/set_navbar.js"></script>


</head>
<body>
<div class="content">

    <h4>set_navbar</h4>
    <p>标题栏设置，分为left返回按钮,center标题部分,right右侧按钮</p>
    <p>设置webview标题信息</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_with_two_tab('bg_normal','bg_pressed','1');">设置navbar双tab 左：bg_normal 右:bg_pressed</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_with_two_tab('bg_pressed','bg_normal','1');">设置navbar双tab 左：pressed 右:normal</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_with_two_tab('bg_pressed','bg_normal','2');">设置navbar双tab 左：pressed 右:normal right：无</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_with_two_tab('bg_pressed','bg_normal','3');">设置navbar双tab 左：pressed 右:normal right:icon</a>

    <a href="javascript:void(0)" onclick="$.fset_navbar_with_i_shareNa();">设置不可点击标题含有分享按钮(调用系统)</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_with_i_shareH5();">设置不可点击标题含有分享按钮(回调H5)</a>

    <p>检查中间按钮类型centerType=4 or 5</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_centertype('4');">centertype=4,带点击效果的searchbar</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_centertype('5');">centertype=5,带清空按钮的searchbar</a>

    <p>配置子标题名称</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_subTitle('我是子标题');">设置子标题subTtile</a>

    <p>右侧按钮>图标</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('phone');">电话图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('home');">首页图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('search');">搜索图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('favorite');">已收藏图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('unfavorite');">未收藏图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('share');">分享图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('map');">地图图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('largeimg');">大图图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('smallimg');">小图图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('online');">在线客服</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('more');">更多图标</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_right('msg');">消息图标</a>

    <p>右侧按钮>下箭头</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_icontype();">检查下箭头</a>
    <p>长标题，右侧有按钮</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_longtitle();">长标题，右侧有按钮</a>
    <p>长标题，右侧无按钮</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_longtitle_with_noright();">长标题，右侧无按钮</a>
    <p>imMark,hotMark标识</p>
    <a href="javascript:void(0)" onclick="$.fset_button_with_imMakk();">消息标识，显示有消息标识</a>
    <a href="javascript:void(0)" onclick="$.fset_button_with_hotMark();">红点标识，右侧按钮需要红点提醒</a>

    <p>data:image参数</p>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_dataimage(1);">使用 dataImage，不含data:image</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_dataimage(2);">使用 dataImage，含data:image</a>
    <a href="javascript:void(0)" onclick="$.fset_navbar_of_dataimage(5);">dataImage>icon</a>






</div>

</body>
</html>