<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享相关</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">
</head>
<body>
<div class="content">

    <h4>share_weixin_msg</h4>
    <p>微信的文字，音频，等分享。</p>
    <p>指针对type=webapp的情况</p>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.wxshare('timeline')">分享到朋友圈</a>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.wxshare('session')">分享到聊天界面</a>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.wxshare('favorite')">分享我的收藏</a>

    <h4>shareInfoFromH5</h4>
    <p>调用客户端分享功能，支持打开分享面板，或者单独的微信分享</p>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.fshareInfoFromH5(false)">bridge 调用分享对话框</a>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.fshareInfoFromH5(true)">微信分享到朋友圈</a>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.fshareInfoFromH5(true,'1')">仅调用微信分享功能,隐藏toast</a>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_share.fshareInfoFromH5(true,'1','haoyou')">仅调用微信分享功能,分享给好友</a>
    <h4>调用URL 规则链接 进行分享,不能自定义分享</h4>
    <a href="http://shouji.17u.cn/internal/share/all">调用分享按钮</a>
    <a href="http://shouji.17u.cn/internal/share/weixin">调用 朋友圈</a>

</div>
<script src="../../js/jquery.js"></script>
<script src="http://appnew.t.ly.com/fed/webapp/js/bridge/bridge.2.3.0.js?v=1"></script>
<script src="../../js/bridgebar/share.js"></script>
</body>
</html>