<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comwith_native.html</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">
</head>
<body>
<div class="content">

    <h4>choose_travelnotes_photo</h4>
    <p>选择游记图片或视频功能</p>

    <p>830增加该api</p>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_choose.ftravel_photo('0')">选择图片</a>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_choose.ftravel_photo('1')">选择视频</a>
    <p>clear_travelnotes_cache()</p>
    <a href="javascript:void(0)" class="comunicate-native" onclick="_choose.fclear_cache()">清除本地视频或缓存</a>
</div>
<script src="../../js/jquery.js"></script>
<script src="http://appnew.t.ly.com/fed/webapp/js/bridge/bridge.2.3.0.js?v=1"></script>
<script src="../../js/bridgeproject/choose_travelnotes_photo.js"></script>
</body>
</html>