<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_tc_bridge_project</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bridge.2.2.6.js"></script>

    <!--<script src="../js/im_summary.js"></script>-->
</head>
<body>
<!--<div class="caption">-->

<!--</div>-->
<div class="apilist">
    <h4>发票相关:_tc_bridge_project.write_invoice</h4>
    <a href="write_invoice.html">开发票相关功能</a>



    <h4></h4>
</div>
</body>
</html>