<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bridge_datetime</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">



</head>
<body>
<div class="content">
    <h4>830 扩展发票接口write_invoice,可选择电子发票接口</h4>
    <p>isShowInvoiceType : String (optional)</p>
    <p>是否显示发票类型 0：不显示 | 1：显示 since 8.3.0</p>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice('3','callback')">可选择电子发票接口,前端回调</a>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice('4','callback')">纸质发票，前端回调</a>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice('3',null)">可选择电子发票接口,请求接口</a>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice('4',null)">纸质发票，请求接口</a>
    <h4>write_invoice</h4>
    <p>开发票控件</p>
    <p>828 增加invoiceDesc节点，发票类型切换，底部说明切换</p>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice()">填写发票信息，配置可选的发票信息，不配置选中发票信息</a>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice('1')">填写发票信息，配置可选的发票信息，选中发票信息</a>
    <a href="javascript:void(0)" onclick="_project.fwrite_invoice('2')">填写发票信息，测试的发票类型，去掉invoiceDesc字段</a>

    <p>用例</p>


</div>

<script src="../../js/jquery.js"></script>

<script src="../../js/bridge.2.2.6.js"></script>
<script src="../../js/bridgeproject/bwrite_invoice.js"></script>
</body>
</html>