p,ul,li,body{
    margin: 0;
    padding: 0;
}
ui,li{

    list-style: none;
}
.main{
    /*display: flex;*/
}
.first-area{

    background-color: #233545;
    padding: 10px 80px 15px 20px;
}
.nav{
    float: left;
    /*flex:1;*/
}
.content{
    display: flex;
    background-color: #ffffff;
    flex: 7;
    flex-direction: column;
}
.logo{

}
.logo img{

    margin-top:10px ;
}
.platform{
    margin-left: 30px;

}
.pcolor{

  color: #97a1ab;
}
.name{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
}
.angle{

    height: 6px;
    width: 9px;
    margin-left: 50px;
}
.manage-module{
    background-color: #293846;
    border-left: 5px solid #19aa8b;
}
.chapter{
    padding: 20px 40px 20px 12px;
}
.tags{

    margin-left: 40px
}
.tag1{
    width: 0px;
    height: 0px;
    border-top: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;

}
.tag2{
    width: 0px;
    height: 0px;
    border-top: 8px solid #293846;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: -20px;
    margin-left: 2px;

}

.namelist{

    margin-left: 60px;
    padding-bottom: 10px;

}

.list{

    margin: 10px 0px 10px;
    font-size: 15px;
    color:#6c7786 ;
}
.list:hover{

    color: #ffffff;
}
.selected{

    color: #ffffff;
}

.waihu-module{
    background-color: #2f4050;
    /*border-left: 5px solid #19aa8b;*/
}

.unexplosed{

    color: #8994a4;
}

.taga{
    width: 0px;
    height: 0px;
    border-top: 10px solid #8994a4;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;

}
.tagb{
    width: 0px;
    height: 0px;
    border-top: 8px solid #2f4050;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: -20px;
    margin-left: 2px;

}

.data-module{
    background-color: #2f4050;
    /*border-left: 5px solid #19aa8b;*/
}

.makeup{
    background-color: #2f4050;
}

.head{

    width: 100%;
    background-color: #00B7FF;
    height: 50px;
}

.top-area{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}
.top-area .more{

    width: 40px;
    height: 30px;
    background-color: #1ab394;
    border-radius: 2px;
    margin-top:10px;
    margin-left: 24px;
    margin-bottom: 10px;
}
.more{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.more .line{

    height: 0px;
    width: 0px;
    background-color: #ffffff;
    padding: 1px 6px;
    margin: 1px;
}
.top-area .login-out{
    margin-top: 10px;
    /*margin-right:  200px;*/
    margin-right:  20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #333333;
}

.label{
    display: inline-block;
    overflow: hidden;
}
.label .radio{
    display: inline-block;
    position: relative;
    background: url("imgs/radio.png") no-repeat center;
    width: 14px;
    height: 10px;
    left: -20px;
    border-right: 20px solid transparent;

}
.label .cangle{
    display: inline-block;
    position: relative;
    background: url("imgs/angle.png") no-repeat center;
    width: 12px;
    height: 8px;
    left: -20px;
    border-right: 20px solid transparent;
}
.online{
    filter: drop-shadow(20px 0 #1ab394);
}
.outline{
    filter: drop-shadow(20px 0);
}
.logout{
    font-size: 14px;
    color: #c6c6c6;

}
.status{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
    color:#1ab394 ;
}
.status-name{

    margin-left: -15px;
    margin-right: 5px;
}

.middle-area{

    background-color: #f3f3f4;
    display: flex;
}
.middle-area .data-info{

    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 26px 24px 0;

}
.middle-area .others{
    display: flex;
    flex-direction: row;
    flex: 1;
    /*margin-right: 20px;*/
    margin-right: 105px;
}
.middle-area .third{
    flex: 1;

}
/*.middle-area .third{*/

    /*flex: 1;*/
/*}*/
.today-data{

    background-color: #ffffff;
    border-top: 5px solid #e7eaec;
    margin-bottom: 24px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
}
.header img{
    height: 15px;
    width: 14px;
}
.today-data .data{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.data .darling{
    padding: 30px 0;
    background-color: #E8F6FF;
    text-align: center;
    flex: 1;
    margin: 0 20px;


}
.darling .darling-num{

    font-size: 45px;
    color: #1c84c6;
}
.explain{
    margin-top: 5px;
    font-size: 16px;
    color: #676a6c;
}

.data .called{
    padding: 30px 0;
    background-color: #E1F9F9;
    text-align: center;
    flex: 1;
    margin: 0 20px;
}
.called-num{

    font-size: 45px;
    color: #0dc3a5;
}


.myguest{

    background-color: #ffffff;
    border-top: 5px solid #e7eaec;
    margin-bottom: 24px;
}

.myguest .data{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.box{
    background-color: #f3f5f7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    text-align: center;
    /*padding: 20px;*/
    padding: 15px 15px;
    flex: 1;
    margin: 0 10px;

}

.box-num{
    font-size: 45px;
    color: #6a7987;
}

.myorder{
    background-color: #ffffff;
    border-top: 5px solid #e7eaec;
    margin-bottom: 24px;
}

.myorder .data{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin:0 20px 24px;
    background-color: #f3f5f7;
    color: #6a7987;
    padding: 40px 0;
}
.header .more2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.more2 i{
    /*position: relative;*/
    background: url("imgs/angle.png") no-repeat center;
    width: 12px;
    height: 8px;
    transform: rotate(270deg);
    margin-left: 5px;
}
.main-notice{

    flex: 1;
    /*margin-right: 290px;*/
}
.remain{
    width: 100px;
}
.notice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    background-color: #ffffff;
    border-top: 5px solid #e7eaec;
    margin-top: 26px;
    /*margin-right: 290px;*/

    /*margin-bottom: 24px;*/
}
.notice-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.announcement,.recording,.document{

    height: 48px;
    padding: 0 30px;
    flex: 1;
    text-align: center;
    line-height: 48px;
    font-size: 22px;
    color: #676a6c
}

.notice-selected{
    border-bottom: 5px solid #1ab394;
}
.notice-list{

    border-top: 1px solid #e7eaec;
    margin: 0 20px;
}

.notice-list ul li{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e7eaec;

}

.list2 li span{
    display: block;
    width: 350px;
    font-size: 16px;
    color: #676a6c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list2 li span:hover{
    font-size: 16px;
    color: #676a6c;
    font-weight: bold;
}

small{
    margin-right: 20px;
    color: #676a6c;
}

.notice .more3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    color: #6a7987;
    justify-content: center
}
.more3 i{
    /*position: relative;*/
    background: url("imgs/angle.png") no-repeat center;
    width: 12px;
    height: 8px;
    transform: rotate(270deg);
    margin-left: 5px;
}

.quicknav{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top: 5px solid #e7eaec;
    margin-top: 24px;
    margin-bottom: 24px;
    /*margin-right: 290px;*/
}

.quicknav .quicknav-name{

    margin: 20px 20px 0;
    font-size: 16px;;
}

.quicknav .data{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    margin: 10px 20px 24px;
    flex-wrap: wrap;
}

.quicknav .data span{
    padding: 20px 30px;
    background-color: #e7eaec;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 10px;
}

.quicknav .data span:hover{

    background-color: #1ab394;

}