*{

    margin: 0;

}
.apilist{

    margin-top: 10px;
}

.caption p{


    color:red;
}
a{
    word-break: break-all;
    display: block;
    height: 40px;
    margin: 5px;
    line-height: 40px;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    text-decoration: none;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    font-size: 16px;

}
.jump{

    display: block;
    height: 40px;
    margin: 5px;
    line-height: 40px;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    text-decoration: none;
    color: rgba(0, 0, 0, 0.94);
    background-color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.onclick{

    background-color:#ff8400;
}
.content{

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}