<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comwith_native.html</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">
</head>
<body>
<div class="content">

    <h4>communicate_with_native</h4>
    <p>调用和客户端交互的功能（仅特殊native页面有用）l</p>

    <p>830增加该api</p>
    <a href="javascript:void(0)" class="comunicate-native">调用Demo，正常调用</a>


</div>
<script src="../../js/jquery.js"></script>
<script src="http://appnew.t.ly.com/fed/webapp/js/bridge/bridge.2.3.0.js?v=1"></script>
<script src="../../js/bridgeutil/communite_native.js"></script>
</body>
</html>