<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_tc_bridge_util</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bridge.2.2.6.js"></script>
    <!--<script src="../js/im_summary.js"></script>-->
</head>
<body>
<!--<div class="caption">-->

<!--</div>-->
<div class="apilist">
    <h4>show_dialog相关:_tc_bridge_bar.show_dialog</h4>
    <a href="show_dialog.html">显示框相关</a>
    <h4>get_index_config：获取首页indexconfig接口的配置</h4>
    <a href="get_index_config.html">首页配置相关</a>
    <h4>upload_photo&crop_photo：上传图片相关</h4>
    <a href="upload_photo.html">上传图片相关</a>
    <h4>alarm_info相关：set,get,cancel</h4>
    <a href="alarm_info.html">alarm_info</a>





    <h4></h4>
</div>
</body>
</html>