<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bridge_util</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../../css/base.css" rel="stylesheet">



</head>
<body>
<div class="content">

    <h4>show_dialog</h4>
    <p>显示对话框</p>
    <a href="javascript:void(0)" onclick="$.fshow_dialog();">弹出对话框</a>
    <a href="javascript:void(0)" onclick="$.fshow_dialog('callback');">828 jumpurl新增回调功能</a>
</div>

<script src="../../js/jquery.js"></script>

<script src="../../js/bridge.2.2.6.js"></script>
<script src="../../js/bridgeutil/show_dialog.js"></script>
</body>
</html>