<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bridge_api_test</title>
    <meta name='viewport'content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="../css/base.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/bridge.2.2.6.js"></script>
    <!--<script src="../js/im_summary.js"></script>-->
</head>
<body>
<div class="caption">
    <p>说明</p>
    <p>此页面以及子页面是测试bridge api的demo和用例</p>
</div>
<div class="apilist">
    <!--<h4>_tc_bridge_bar类下的api</h4>-->
    <a href="bridgebar/index.html">_tc_bridge_bar类下的api</a>

    <!--<h4>_tc_bridge_util类下的api</h4>-->
    <a href="bridgeutil/index.html">_tc_bridge_util类下的api</a>

    <!--<h4>_tc_bridge_datetime类下的api</h4>-->
    <a href="bridgedatetime/index.html">_tc_bridge_datetime类下的api</a>

    <!--<h4>_tc_bridge_project类下的api</h4>-->
    <a href="bridgeproject/index.html">_tc_bridge_project类下的api</a>
    <h4></h4>
</div>
</body>
</html>