<!DOCTYPE html>
<html data-dpr="2" >
<head>
    <title>电影</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!--<link rel="stylesheet" href="../css/movie.css">-->

</head>
<body>
<div class="page-header">

    <span class="header-left">

        <img src="../img/back.png" width="25px" height="25px" >
    </span>
    <div class="center">
        <div class="reying">热映</div>
        <div class="daiying">待映</div>
    </div>
    <div class="header-right">
        <div class="showcity">
            <span class="cityname">苏州</span>
            <span class="vicon"></span>
        </div>
        <a class="header-right-btn">
            <i></i>
        </a>

    </div>

</div>

<div class="movieitems">
    <ul id="MyIndex" class="movie_list">

    </ul>
    <div class="loading">
        正在加载中

    </div>
    <div class="noloading">
        亲，已经加载完了哟
    </div>
</div>
<div id="jijiang" class="upcoming">
    <ul class="info">
        <div><span>2017年5月26日上映</span></div>
        <li class="mitem">
            <!--<div><span>2017年6月2日上映</span></div>-->
            <div class="content">
                <div class="mimage">
                    <img src="http://pic4.40017.cn/movie/2016/07/26/02/WAd7k1_140x210_02.jpg">
                 </div>
                <div class="mdesc">
                    <p>神奇四侠</p>
                    <p>爱哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                </div>
                <div class="yushou">
                    <span class="book">预售</span>
                </div>
            </div>
        </li>
        <div><span>2017年5月27日上映</span></div>
        <li class="mitem">

        <div class="content">
            <div class="mimage">
                <img src="http://pic4.40017.cn/movie/2016/07/26/02/WAd7k1_140x210_02.jpg">
            </div>
            <div class="mdesc">
                <p>神奇四侠2</p>
                <p>爱哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
            </div>
            <div class="yushou">
                <span class="book">预售</span>
            </div>
            </div>
        </li>
        <div><span>2017年5月28日上映</span></div>
        <li class="mitem">

            <div class="content">
                <div class="mimage">
                    <img src="http://pic4.40017.cn/movie/2016/07/26/02/WAd7k1_140x210_02.jpg">
                </div>
                <div class="mdesc">
                    <p>神奇四侠2</p>
                    <p>爱哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                </div>
                <div class="yushou">
                    <span class="book">预售</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="bottom">


</div>


<script src="../js/jquery.js"></script>
<!--<script src="../js/movie.js"></script>-->
<script src="../js/movienew.js"></script>
<link rel="stylesheet" href="../css/movie.css">
</body>
</html>