<!DOCTYPE html>
<html data-dpr="2" >
<head>
    <title>电影</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content=" width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="http://10.101.64.25:3000/css/movie.css">
    <style>
        .content{
            background-color: #2EBD59;
            height: 500px;
        }
        .content span{
            background-color: #bbbbbb;
            height: 100px;
        }
    </style>
</head>
<body>
<div class="page-header">

    <span class="header-left">

        <img src="http://10.101.64.25:3000/img/back.png" width="25px" height="25px" >
    </span>
    <div class="center">
        <div class="reying">热映</div>
        <div class="daiying">待映</div>
    </div>
    <div class="header-right">
        <div class="showcity">
            <span class="cityname">苏州</span>
            <span class="vicon"></span>
        </div>
        <a class="header-right-btn">
            <i></i>
        </a>

    </div>

</div>
<div class="content">
    <ul id="MyIndex" class="movie_list bgc-ffffff">



        <li class="list_item noBindEvent  border-b border-image" data-moveid="329">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/329')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/02/001/76/3f/rBLkCVj1DTiAUDjiAACAAGSx2cU445.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">9.5</em>

                        <h4>
                            <span class="m_name">速度与激情8</span>
                            <span class="m_icon"><i>3D</i><em>IMAX</em></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">硬汉豪车再纵横，依旧燃爆荷尔蒙</p>
                        <p class="status">主演： 范·迪塞尔 / 道恩·强森 / 查理兹·塞隆 / 杰森·斯坦森 / 米歇尔·罗德里格兹 </p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="1566">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/1566')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/000/5b/b9/rBANC1judbqACkpNAACAACldaSI745.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">9.3</em>

                        <h4>
                            <span class="m_name">大话西游之大圣娶亲</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">至尊宝与紫霞仙子再世情缘席卷归来</p>
                        <p class="status">主演：周星驰 / 朱茵 / 罗家英 / 吴孟达</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2741">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2741')">
                <div class="left_img">
                    <img src="//pic4.40017.cn/movie/2017/03/24/02/Qlmq7O_140x210_02.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">8.3</em>

                        <h4>
                            <span class="m_name">金刚：骷髅岛</span>
                            <span class="m_icon"><i>3D</i></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">抖森勇闯骷髅岛，最强金刚终归来</p>
                        <p class="status">主演：汤姆·希德勒斯顿 / 布丽·拉尔森 / 塞缪尔·杰克逊 / 约翰·古德曼 / 景甜 / 约翰·C·赖利 / 托比·坎贝尔</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2814">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2814')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/001/14/bc/rBLkBljdUjiAPSNXAAEAAFaVB0A174.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">8.7</em>

                        <h4>
                            <span class="m_name">非凡任务</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">麦庄组合再出击，警匪暗战将来袭</p>
                        <p class="status">主演：黄轩 / 段奕宏 / 郎月婷 / 祖峰 / 邢佳栋</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2891">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2891')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/001/1a/82/rBLkBVjeo7eAVYowAAEAADJLQMI604.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">7.6</em>

                        <h4>
                            <span class="m_name">冰雪大作战</span>
                            <span class="m_icon"><i>3D</i></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">大雪降临寒假至，展开雪堡保卫战</p>
                        <p class="status">主演：安吉拉·加洛波 / 露辛达·戴维斯 / 苏菲·卡迪奥 / 安妮·卡瑟邦尼 / 海伦·波若瓦·里克 / 罗斯·林奇</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2410">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2410')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/02/001/1a/5b/rBLkCFjeo7iAAjr-AAEAAFehAQU740.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">7.9</em>

                        <h4>
                            <span class="m_name">有完没完</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">喜剧大师已上线，胆小执拗说再见</p>
                        <p class="status">主演：范伟 / 贾静雯 / 刘俊昊 / 薛之谦 / 林更新</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2881">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2881')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/000/1a/82/rBLkBljeo7eAIIkdAACAAKtppsM918.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">2.6</em>

                        <h4>
                            <span class="m_name">怨灵宿舍之白纸女生</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">夺命纸魂遍人间，阴魂不散在校园</p>
                        <p class="status">主演：谢容儿 / 薇拉贝儿 / 姚雨鑫 / 曲馨雅 / 姜星丘 / 陈嘉敏 / 姜梦茹 / 李倩</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2491">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2491')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/000/3b/aa/rBANC1jmjLeAaa5yAAEAAMw6UAg823.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">7.8</em>

                        <h4>
                            <span class="m_name">攻壳机动队</span>
                            <span class="m_icon"><i>3D</i></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">身体不要变空壳，未来恐惧再升格</p>
                        <p class="status">主演：斯嘉丽·约翰逊 / 皮鲁·埃斯贝克 / 迈克尔·皮特 / 北野武 / 朱丽叶·比诺什 / 桃井薰 / 福岛莉拉</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>



        <input id="totalCount" type="hidden" value="4">
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2906">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2906')">
                <div class="left_img">
                    <img src="//pic4.40017.cn/movie/2017/03/03/02/6VXfvK_140x210_02.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">9.2</em>

                        <h4>
                            <span class="m_name">一条狗的使命</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">一次次生命轮回，只为了与你相遇</p>
                        <p class="status">主演：布丽特·罗伯森 / 丹尼斯·奎德 / 佩吉·利普顿 / 乔什·盖德</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2915">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2915')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/000/61/e1/rBANC1jvxziASO-CAACAAI6C7Vw501.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">7.0</em>

                        <h4>
                            <span class="m_name">指甲刀人魔</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">单纯善良大男孩，遇到真爱口难开</p>
                        <p class="status">主演：周冬雨 / 张孝全 / 纳豆 / 林辰唏 / 蔡洁 / 盛朗熙 / 郑伊健 / 谢依霖 / 许玮甯</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2967">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2967')">
                <div class="left_img">
                    <img src="//pic4.40017.cn/movie/2017/02/25/02/BsbFqQ_140x210_02.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">

                        <span class="m_like"><em>3766</em>人想看</span>
                        <h4>
                            <span class="m_name">蓝精灵3：寻找神秘村</span>
                            <span class="m_icon"><i>3D</i></span>
                        </h4>



                    </div>
                    <span class="m_btn m_advance">预售</span>
                    <div class="con_b">
                        <p class="desc">活泼可爱蓝精灵，智斗巫师享安宁</p>
                        <p class="status"><span>2017-04-21</span>&nbsp;&nbsp;&nbsp;<span>周五上映</span></p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2776">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2776')">
                <div class="left_img">
                    <img src="//pic4.40017.cn/movie/2016/11/29/02/Xy4a5Q_140x210_02.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">

                        <span class="m_like"><em>2120</em>人想看</span>
                        <h4>
                            <span class="m_name">傲娇与偏见</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_advance">预售</span>
                    <div class="con_b">
                        <p class="desc">美丽人生多巧合，不是冤家不聚头</p>
                        <p class="status"><span>2017-04-20</span>&nbsp;&nbsp;&nbsp;<span>周四上映</span></p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2976">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2976')">
                <div class="left_img">
                    <img src="//pic4.40017.cn/movie/2017/03/03/02/ziLBds_140x210_02.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">

                        <span class="m_like"><em>15859</em>人想看</span>
                        <h4>
                            <span class="m_name">喜欢你</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_advance">预售</span>
                    <div class="con_b">
                        <p class="desc">素未谋面生仰慕，现实相遇倒大霉</p>
                        <p class="status"><span>2017-04-27</span>&nbsp;&nbsp;&nbsp;<span>周四上映</span></p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="3031">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/3031')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/01/000/03/52/rBLkBljSxjiAV05KAAAgABDUCQ8085.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">

                        <span class="m_like"><em>217205</em>人想看</span>
                        <h4>
                            <span class="m_name">西游记大结局之仙履奇缘</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_advance">预售</span>
                    <div class="con_b">
                        <p class="desc">紫霞仙寻亲，至尊宝娶亲</p>
                        <p class="status"><span>2017-04-14</span>&nbsp;&nbsp;&nbsp;<span>周五上映</span></p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="3040">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/3040')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/02/000/62/2f/rBANDFjvxziABNhFAAEAACA343g605.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">5.3</em>

                        <h4>
                            <span class="m_name">怨灵宿舍之人偶老师</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">闺中密友悄失踪，青春校园藏天机</p>
                        <p class="status">主演：谢容儿 / 岳文龙 / 王翼鹏 / 薇拉贝儿 / 姚雨鑫 / 陈嘉敏 / 姜梦茹 / 李晨溪 / 蔡翱骏</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>
        <li class="list_item noBindEvent  border-b border-image" data-moveid="2990">

            <a class="m_item" href="javascript:GoPage('/movie/TouchMovieView/MovieDetail/2990')">
                <div class="left_img">
                    <img src="//pic5.40017.cn/02/001/62/2f/rBANDFjvxzeAIhudAAEAADXHQNM080.jpg">
                </div>
                <div class="right_con">
                    <div class="con_t">
                        <em class="m_score">7.2</em>

                        <h4>
                            <span class="m_name">爱情冻住了</span>
                            <span class="m_icon"></span>
                        </h4>



                    </div>
                    <span class="m_btn m_sold">购票</span>
                    <div class="con_b">
                        <p class="desc">当冷冻遇上新鲜，验爱情保存期限</p>
                        <p class="status">主演：林依晨 / 凤小岳 / 程予希 / 詹怀云 / 金燕玲 / 李烈</p>

                    </div>


                </div>
            </a>
            <div class="act_info">



            </div>
        </li>

    </ul>
<p>st</p>
</div>
</body>
<script src="http://10.101.64.25:3000/js/jquery.js"></script>
<script>
    $(function () {


        $(window).scroll(function () {
            var windowHeight=$(window).height();
            var documentHeight=$(document).height();
//            alert("windowHeight:"+windowHeight+";"+"documentHeight:"+documentHeight)
            var scrollTop=$(window).scrollTop();

            if (scrollTop>=(documentHeight-windowHeight)){
               alert('滚动底部');
            }
        })
    })
</script>
<!--<script src="../js/movie.js"></script>-->
<!--<script src="http://10.101.64.25:3000/js/movie.js"></script>-->
</html>