<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>demo</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="../css/demo.css">
</head>
<style>
    /*div{*/

        /*width: 650px;*/
        /*height: 512px;*/
    /*}*/
    span{
        display: block;
        /*显示图片的大小*/
        width: 600px;
        height: 500px;
        background-image: url("../img/movie_icon.png");
        background-repeat: no-repeat;
        /*图片的位置*/
        background-position: 50px 50px;
        /*图片的大小*/
        background-size: 320px 381px;
    }
    .testfunc .ondemo{

        width: auto;
        height: auto;
    }
</style>
<body>
<h3>background-image的使用</h3>

<div>
    <span></span>
</div>

<div class="testfunc">
    测试
</div>
<div class="ondemo">

  <p>on事件on() 方法在被选元素及子元素上添加一个或多个事件处理程序</p>
    <p class="offdemo">移除绑定事件off</p>
</div>
<script src="../js/jquery.js"></script>
<script src="../js/demo.js"></script>
</body>
</html>